<footer>
    <div class="d-grid d-sm-flex flex-wrap gap-3 justify-content-sm-center">
        {%- for social in metadata.socials -%}
            {% set url %}/assets/icons/{{social.id}}.svg{% endset %}
            <a class="btn btn-link px-4" href="{{ social.url }}" target="_blank">
                <img src={{ url | url }} alt="{{ social.label }}">
            </a>
        {%- endfor -%}
    </div>
</footer>