<h2>Latest Releases</h2>
<div class="releases">
    {%- for release in releases.main -%}
        <div class="release">
            <img class="release__artwork" src="assets/img/{{ release.artwork }}" alt="{{ release.title }}" />
            <h3 class="release__title">{{ release.title }} <small>({{ release.type }})</small></h3>
            <div class="release__links">
                {%- for link in release.links -%}
                    <a href="{{ link.url }}" target="_blank">{{ link.platform }}</a>
                {%- endfor -%}
            </div>
        </div>
    {%- endfor -%}
</div>
<hr/>
{%- for release in releases.soundcloud -%}
    {% set url %} https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ release.id }}
    &color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false
    {% endset %}
    <div>
        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src={{ url }}></iframe>
        <a href="{{ release.url }}" target="_blank">{{ release.title }}</a>
    </div>
{%- endfor -%}
<a class="btn btn-primary" href="https://soundcloud.com/soulconceptuk/" target="_blank">Listen to more...</a>