html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Sen", sans-serif;
  font-weight: $fw-normal;
  font-size: 1.063rem;
  background-color: var(--background);
  color: var(--foreground);
  padding: $gutter * 2
}

h1,
h2,
h3,
h4 {
  font-weight: $fw-bold;
  text-transform: uppercase;
}

h1 {
    font-size: 1.625rem;
}
h2 {
    font-size: 1.325rem;
}